ALLOWED_HOSTS=decoupled-django.com,static.decoupled-django.com
DEBUG=no
SECRET_KEY=!changethis!
DATABASE_URL=sqlite:/decoupleddjango.sqlite3
STATIC_URL=https://static.decoupled-django.com/
STATIC_ROOT=static/
EMAIL_HOST=!changethis!
EMAIL_PORT=!changethis!
EMAIL_HOST_USER=!changethis!
EMAIL_HOST_PASSWORD=!changethis!